@model web136.Models.Student.PLStudent

@{
    ViewBag.Title = "Student Home";
}

<h2>Student Menu</h2>

<div>
Student Name: @ViewData["studentName"] <br />
Email: @ViewData["studentEmail"] <br />
SSN: @ViewData["studentSSN"] <br />
Student Level: @ViewData["studentLevel"] <br />
Major Name: @ViewData["majorName"] <br />
Department: @ViewData["departmentName"] <br />
Status: @ViewData["studentStatus"] <br />
Weight: @ViewData["studentWeight"] <br />
Shoe Size: @ViewData["studentShoeSize"] <br />
@Html.ActionLink("Change Password", "ChangePassword") <br />
</div>

<ul>
    <li>@Html.ActionLink("Register", "RegisterForClass")</li>
    <li>@Html.ActionLink("View Transcript", "ViewTranscript")</li>
    <li>@Html.ActionLink("View Current Course Schedule", "ViewCurrentCourseSChedule")</li>
    <li>@Html.ActionLink("View Course", "ViewCourse")</li>
    <li>@Html.ActionLink("View Courses", "ViewCourses")</li>
    <li>etc</li>
</ul>
