@model IEnumerable<web136.Models.Staff.PLStaff>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<a href="" onclick="return GetNumStaffTotal()">Click for # staff so far... (json call)</a>

<div id="DivNumStaff"></div>
-->
<h2>Staff List</h2>

<table id="tableStaffList">
    <tr>
        <th></th>
        <th>ID
        </th>
        <th>FirstName
        </th>
        <th>LastName
        </th>
        <th>EmailAddress
        </th>
        <th>Password
        </th>
        <th>Department
        </th>
        <th>InstructorStatus
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:50px;">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
            </td>
            <td style="width:50px;">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
            </td>
            <td>
                @item.ID
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.EmailAddress
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Department.deptName
            </td>
            <td>
                @item.isInstructor
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!--
<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSettings.cache = false;

    });

    function GetNumStudentsTotal() {
        $.getJSON(
            '/Staff/GetNumStaffTotal',
            function (data) {
                $("#DivNumStaffMembers").html(data);
            });

        return false; // this prevents the page from going to "nowhere"
    }

</script>
-->