@model web136.Models.Major.PLMajor


@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Major</h2>
<div id="GetMajor"></div>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true) 
        
        <fieldset>
            <legend>Fields</legend>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.major_id) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.major_id) 
                @Html.ValidationMessageFor(model => model.major_id) 
            </div>
            <p>
                <input id="buttonGet" type="button" value="Get Major" />
            </p>
            <div class="editor-label">
                @Html.LabelFor(model => model.major_name) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.major_name, new { @autocomplete = "off", @readonly = true }) 
                @Html.ValidationMessageFor(model => model.major_name) 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.dept_id) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.dept_id, new { @autocomplete = "off", @readonly = true }) 
                @Html.ValidationMessageFor(model => model.dept_id) 
            </div>

        </fieldset>
    } 

    <div>
        @Html.ActionLink("Create Major", "Create") <br />
        @Html.ActionLink("Delete Major", "Delete") <br />
        @Html.ActionLink("Edit Major", "Edit") <br />
        @Html.ActionLink("Get Major List", "List") <br />
    </div>
<script type="text/javascript">
    $(document).ready
    (
        function ()
        {
            $.ajaxSettings.cache = false;
            $(buttonGet).click
            (
                function ()
                {
                    var id = document.getElementById('major_id').value;
                    $.getJSON
                    (
                        '/Major/GetSampleMajor/',
                        { idx: id },
                        function (data)
                        {
                            // using jquery library to prepopulate the sample data...
                            //$("#major_id").attr("value", "");
                            $("#major_name").attr("value", data.major_name);
                            $("#dept_id").attr("value", data.dept_id);
                            $(GetMajor).html(data);
                        }
                    )
                }
            );
        }
    );

</script>