@model IEnumerable<web136.Models.Major.PLMajor>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Major List</h2>

<table id="tableMajorList">
    <tr>
        <th></th>
        <th>Major ID
        </th>
        <th>Major Name
        </th>
        <th>Department ID
        </th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td style="width:50px;">
                @Html.ActionLink("Edit", "Edit", new { id = item.major_id }) 
            </td>
            <td>
                @item.major_id
            </td>
            <td>
                @item.major_name
            </td>
            <td>
                @item.dept_id
            </td>

        </tr>
    
    }

</table>
<div>
    @Html.ActionLink("Create Major", "Create") <br />
    @Html.ActionLink("Delete Major", "Delete") <br />
    @Html.ActionLink("Get Major", "Get") <br />
</div>