@model web136.Models.Schedule.PLScheduledCourse

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Schedule</h2>
<div id="GetSchedule"></div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) 

    <fieldset>
        <legend>Fields</legend>

        <div class="editor-label">
                @Html.LabelFor(model => model.schedule_id) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.schedule_id) 
                @Html.ValidationMessageFor(model => model.schedule_id) 
            </div>
            <p>
                <input id="buttonGetSchedule" type="button" value="Get Schedule" />
            </p>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.year, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.quarter)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.quarter, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.quarter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.session)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.session, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.session)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.course.id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.course.id, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.course.id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.course.title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.course.title, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.course.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.course.description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.course.description, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.course.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.course.courseLevel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.course.courseLevel, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.course.courseLevel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.course.units)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.course.units, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.course.units)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.dayID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.dayID, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.dayID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.timeID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.timeID, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.timeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.day)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.day, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.time)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.time, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.instructorID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.instructorID, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.instructorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.firstName, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.lastName, new { @autocomplete = "off", @readonly=true})
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

    </fieldset>

}

<div>
    @Html.ActionLink("Create Scheduled Course", "Create") <br />
    @Html.ActionLink("Delete Scheduled Course", "Delete") <br />
    @Html.ActionLink("Get Scheduled Course List", "List") <br />
</div>
<br />


<script type="text/javascript">
    $(document).ready
        (function () {
            $.ajaxSettings.cache = false;
            $(buttonGetSchedule).click
            (
                function () {
                    var id = document.getElementById('schedule_id').value;
                    $.getJSON
                    (
                        '/ScheduledCourse/GetSampleSchedule/',
                        { idx: id },
                        function (data) {
                            // using jquery library to prepopulate the sample data...
                            //$("#schedule_id").attr("value", "");
                            $("#year").attr("value", "2013");
                            $("#quarter").attr("value", "Spring");
                            $("#session").attr("value", "A34");
                            $("#id").attr("value", "36");
                            $("#description").attr("value", "Programming Languages: Principles and Paradigms");
                            $("#title").attr("value", "CSE 130");
                            $("#courseLevel").attr("value", "upper");
                            $("#units").attr("value", "4");
                            $("#timeID").attr("value", "11");
                            $("#dayID").attr("value", "4");
                            $("#time").attr("value", "1pm-2:30pm");
                            $("#day").attr("value", "Mon/Wed/Fri");
                            $("#instructorID").attr("value", "68");
                            $("#firstName").attr("value", "Ranjit");
                            $("#lastName").attr("value", "Jhala");
                            $(GetSchedule).html(data);
                        }
                    )
                }
            );
        }
    );

</script>