@model IEnumerable<web136.Models.Schedule.PLScheduledCourse>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule List</h2>

<table id="tableMajorList">
    <tr>
        <th></th>
        <th>Schedule ID
        </th>
        <th>Year
        </th>
        <th>Quarter
        </th>
        <th>Session
        </th>
        <th>Course ID
        </th>
        <th>Course Title
        </th>
        <th>Course Description
        </th>
        <th>Course Level
        </th>
        <th>Units
        </th>
        <th>Time ID
        </th>
        <th>Day ID
        </th>
        <th>Time
        </th>
        <th>Day
        </th>
        <th>Instructor ID
        </th>
        <th>Instructor First Name
        </th>
        <th>Instructor Last Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td style="width:50px;">
                @Html.ActionLink("Edit", "Edit", new { id = item.schedule_id }) 
            </td>
            <td>
                @item.schedule_id
            </td>
            <td>
                @item.year
            </td>
            <td>
                @item.quarter
            </td>
            <td>
                @item.session
            </td>
            <td>
                @item.course.id
            </td>
            <td>
                @item.course.title
            </td>
            <td>
                @item.course.description
            </td>
            <td>
                @item.course.courseLevel
            </td>
            <td>
                @item.course.units
            </td>
            <td>
                @item.timeID
            </td>
            <td>
                @item.dayID
            </td>
            <td>
                @item.time
            </td>
            <td>
                @item.day
            </td>
            <td>
                @item.instructorID
            </td>
            <td>
                @item.firstName
            </td>
            <td>
                @item.lastName
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Create Scheduled Course", "Create") <br />
    @Html.ActionLink("Delete Scheduled Course", "Delete") <br />
    @Html.ActionLink("Edit Scheduled Course", "Edit") <br />
    @Html.ActionLink("Get Scheduled Course", "Get") <br />
</div>