@model IEnumerable<web136.Models.Enrollment.PLEnrollment>

@{
    ViewBag.Title = "Transcript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enrollment List</h2>

<table id="tableTranscriptList">
    <tr>
        <th>Edit</th>
        <th>Student ID</th>
        <th>Quarter</th>
        <th>Year</th>
        <th>Course Title</th>
        <th>Course Description</th>
        <th>Unit</th>
        <th>Grade</th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { student_id = item.studentID, schedule_id = item.scheduledCourse.schedule_id })
            </td>
            <td>
                @item.studentID
            </td>
            <td>
                @item.scheduledCourse.quarter
            </td>
            <td>
                @item.scheduledCourse.year
            </td>
            <td>
                @item.scheduledCourse.course.title
            </td>
            <td>
                @item.scheduledCourse.course.description
            </td>
            <td>
                @item.scheduledCourse.course.units
            </td>
            <td>
                @item.grade
            </td>
        </tr>
    
    }

</table>
