@model IEnumerable<web136.Models.Enrollment.PLEnrollment>

@{
    ViewBag.Title = "Transcript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transcript</h2>
Total GPA = @ViewBag.GPA
<table id="tableTranscriptList">
    <tr>
        <th>Quarter</th>
        <th>Year</th>
        <th>Course Title</th>
        <th>Course Description</th>
        <th>Unit</th>
        <th>Grade</th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @item.scheduledCourse.quarter
            </td>
            <td>
                @item.scheduledCourse.year
            </td>
            <td>
                @item.scheduledCourse.course.title
            </td>
            <td>
                @item.scheduledCourse.course.description
            </td>
            <td>
                @item.scheduledCourse.course.units
            </td>
            <td>
                @item.grade
            </td>
        </tr>
    
    }

</table>
