@model List<web136.Models.Schedule.PLSchedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Refresh", "Index")
<br />
@Html.Partial("StudentEnrollment", (web136.Models.Student.PLStudent)ViewBag.student)

@using (Html.BeginForm("Index", "Schedule"))
{
    <h2>Schedule</h2>
    <table id="tableScheduleList">
        <tr>
            <th></th>
            <th>
                @Html.DropDownList("yearFilter", (List<SelectListItem>)ViewData["YearList"], new { onchange = "this.form.submit()" })
            </th>
            <th>
                @Html.DropDownList("quarterFilter", (List<SelectListItem>)ViewData["QuarterList"], new { onchange = "this.form.submit()" })
            </th>
            <th>Session
            </th>
            <th>Course Title
            </th>
            <th>Description
            </th>
        </tr>
        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.ActionLink("Add", "Enroll", "Student", new { schedule_id = item.schedule_id }, null)
                </td>
                <td>
                    @item.year
                </td>
                <td>
                    @item.quarter
                </td>
                <td>
                    @item.session
                </td>
                <td>
                    @item.course_title
                </td>
                <td>
                    @item.course_description
                </td>
            </tr>
        }
    </table>
}
