@{
    ViewBag.Title = "Staff Home";
}

<h2>Staff Menu</h2>

<ul>
    <li>@Html.ActionLink("Student", "Student")</li>
    <li>@Html.ActionLink("Staff", "Staff")</li>
    <li>@Html.ActionLink("Enrollment", "Enrollment")</li>
    <li>@Html.ActionLink("Department", "Department")</li>
    <li>@Html.ActionLink("Major", "Major")</li>
    <li>@Html.ActionLink("Course", "Course")</li>
    <li>@Html.ActionLink("Schedule", "Schedule")</li>
    <li>@Html.ActionLink("ScheduleDay", "ScheduleDay")</li>
    <li>@Html.ActionLink("ScheduleTime", "Scheduletime")</li>
    <li>etc</li>
</ul>