@model web136.Models.Student.PLStudent

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true) 
        
        <fieldset>
            <legend>Fields</legend>

            <div class="editor-label">
                @Html.Label("New Password")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.Label("Verify Password")
            </div>
            <div class="editor-field">
                @Html.TextBox("verify password")
            </div>
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index") 
    </div>
