@model web136.Models.Student.PLStudent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<input id="buttonGetSampleStudent" type="button" value="Click for sample student (JSON query)" />

<div id="SampleStudent"></div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) 

    <fieldset>
        <legend>Fields</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ID)
            @Html.ValidationMessageFor(model => model.ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SSN)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SSN)
            @Html.ValidationMessageFor(model => model.SSN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<br />

<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSettings.cache = false;
        $(buttonGetSampleStudent).click(function () {
            $.getJSON(
              '/Student/GetSampleStudent',
              { idx: '1' },
              function (data) {
                  var info = "";
                  info += "ID: " + data.ID + "<br />";
                  info += "SSN : " + data.SSN + "<br />";
                  info += "First : " + data.FirstName + "<br />";
                  info += "Last: " + data.LastName + "<br />";
                  info += "Email : " + data.EmailAddress + "<br />";
                  info += "Password : " + data.Password + "<br />";

                  // using jquery library to prepopulate the sample data...
                  $("#ID").attr("value", "");
                  $("#SSN").attr("value", "987654321");
                  $("#FirstName").attr("value", "John");
                  $("#LastName").attr("value", "Smith");
                  $("#EmailAddress").attr("value", "John.Smith@ucsd.edu");
                  $("#Password").attr("value", "password");
                  $(SampleStudent).html(info);
              });
        });
    });

</script>

