@model IEnumerable<web136.Models.Student.PLStudent>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="" onclick="return GetNumStudentsTotal()">Click for # students so far... (json call)</a>

<div id="DivNumStudents"></div>

<h2>Student List</h2>

<table id="tableStudentList">
    <tr>
        <th></th>
        <th>ID
        </th>
        <th>SSN
        </th>
        <th>FirstName
        </th>
        <th>LastName
        </th>
        <th>EmailAddress
        </th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td style="width:50px;">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
            </td>
            <td>
                @item.ID
            </td>
            <td>
                @item.SSN
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.EmailAddress
            </td>
        </tr>
    
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSettings.cache = false;

    });

    function GetNumStudentsTotal() {
        $.getJSON(
            '/Student/GetNumStudentsTotal',
            function (data) {
                $("#DivNumStudents").html(data);
            });

        return false; // this prevents the page from going to "nowhere"
    }

</script>
