@model web136.Models.Student.PLStudent

<h2>PLStudent</h2>

<fieldset>
    <legend>PLStudent</legend>

    <div class="display-label">SSN</div>
    <div class="display-field">@Model.SSN</div>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">@Model.EmailAddress</div>

    <div class="display-label">Password</div>
    <div class="display-field">@Model.Password</div>
</fieldset>
