@model web136.Models.ScheduleTime.PLScheduleTime

@{
    ViewBag.Title = "Edit Schedule Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true) 
        
        <fieldset>
            <legend>Fields</legend>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.scheduleTime) 
            </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.scheduleTime)
        </div>
            
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    } 

    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })

    <div>
        @Html.ActionLink("Back to List", "Index") 
    </div>
