@model web136.Models.Course.PLCourse

<h2>PLCourse</h2>

<fieldset>
    <legend>PLCourse</legend>

    <div class="display-label">id</div>
    <div class="display-field">@Model.id</div>

    <div class="display-label">course_title</div>
    <div class="display-field">@Model.title</div>

    <div class="display-label">course_level</div>
    <div class="display-field">@Model.courseLevel</div>

    <div class="display-label">course_description</div>
    <div class="display-field">@Model.description</div>

    <div class="display-label">course_units</div>
    <div class="display-field">@Model.units</div>

    <div class="display-label">course_prerequisites</div>
    <div class="display-field">@Model.prerequisiteList</div>

</fieldset>
