@model web136.Models.Department.PLDepartment

@{
    ViewBag.Title = "Edit Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true) 
        
        <fieldset>
            <legend>Fields</legend>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.deptName) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.deptName)
            </div>

            <div class="editor-label">
            @Html.LabelFor(model => model.chair_id)
            </div>
            <div class="editor-field">
                @Html.DropDownList("chair_id", (List<SelectListItem>)ViewData["listStaff"]) 
            </div>
            @Html.HiddenFor(model =>model.ID) 
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    } 

    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })

    <div>
        @Html.ActionLink("Back to List", "Index") 
    </div>
