@model web136.Models.Schedule.PLScheduledCourse

<h2>PLScheduledCourse</h2>

<fieldset>
    <legend>PLScheduledCourse</legend>

    <div class="display-label">schedule_id</div>
    <div class="display-field">@Model.schedule_id</div>

    <div class="display-label">year</div>
    <div class="display-field">@Model.year</div>

    <div class="display-label">quarter</div>
    <div class="display-field">@Model.quarter</div>

    <div class="display-label">session</div>
    <div class="display-field">@Model.session</div>

    <div class="display-label">id</div>
    <div class="display-field">@Model.course.id</div>

    <div class="display-label">description</div>
    <div class="display-field">@Model.course.description</div>

    <div class="display-label">title</div>
    <div class="display-field">@Model.course.title</div>

    <div class="display-label">courseLevel</div>
    <div class="display-field">@Model.course.courseLevel</div>

    <div class="display-label">units</div>
    <div class="display-field">@Model.course.units</div>

    <div class="display-label">timeID</div>
    <div class="display-field">@Model.timeID</div>

    <div class="display-label">dayID</div>
    <div class="display-field">@Model.dayID</div>

    <div class="display-label">time</div>
    <div class="display-field">@Model.time</div>

    <div class="display-label">day</div>
    <div class="display-field">@Model.day</div>

    <div class="display-label">instructorID</div>
    <div class="display-field">@Model.instructorID</div>

    <div class="display-label">firstName</div>
    <div class="display-field">@Model.firstName</div>

    <div class="display-label">lastName</div>
    <div class="display-field">@Model.lastName</div>
  
</fieldset>
